[submodule "perilib/silabs_bgapi"]
	path = perilib/silabs_bgapi
	url = https://github.com/perilib/perilib-python-silabs-bgapi
[submodule "perilib/robotis_dynamixel2"]
	path = perilib/robotis_dynamixel2
	url = https://github.com/perilib/perilib-python-robotis-dynamixel2
