[submodule "perilib/protocol/stream/silabs_bgapi"]
	path = perilib/protocol/stream/silabs_bgapi
	url = https://github.com/perilib/perilib-python-silabs-bgapi
[submodule "perilib/protocol/stream/generic"]
	path = perilib/protocol/stream/generic
	url = https://github.com/perilib/perilib-python-generic
